* {
	padding: 0px;
	margin: 0px;
}

html, body{
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	width: 100%;
	height: 100%;
}

.mgr5{
	margin-right: 5px;
}
.mgr10{
  margin-right: 10px;
}
.mgb5{
  margin-bottom: 5px;
}
.mg5vh .el-dialog{
  margin-top:5vh !important;
  margin-bottom:5vh !important;
  height: 90vh !important;
  display: flex !important;
  flex-direction: column !important;
}
.mg5vh .el-dialog__body{
  flex:1 !important;
}
.mg-15{
	margin-top: -15px;
}
.pad10{
  padding: 10px;
}
.pad5{
  padding: 5px;
}
.mgb10{
  margin-bottom: 10px;
}

.fs22{
	font-size: 22px;
}
.fs18{
  font-size: 18px;
}
.fs14{
  font-size: 14px;
}
.fs12{
  font-size: 12px;
}

.w100px{
  width: 100px;
}
.w200px{
  width: 200px;
}

.on{
	color: #409EFF;
}
.warning{
  color: #E6A23C;
}
.suc{
	color: #67C23A;
}
.fff{
	color: #fff;
}
.colccc{
	color: #ccc;
}
.colaaa{
	color: #aaa;
}
.red{
  color: #F56C6C;
}
.bgfff{
  background-color: #fff;
}

.max{
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
}
.inblock{
  display: inline-block;
}
.flexdialog{
  width: 100%;
  height: 100%;
}
.flexdialog .el-dialog{
  display: flex;
  flex-direction: column;
}
.flexdialog .el-dialog__body{
  flex:1;
}

.flex{
  display: -webkit-flex;  /* 新版本语法: Chrome 21+ */
  display: flex;          /* 新版本语法: Opera 12.1, Firefox 22+ */
  display: -webkit-box;   /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;      /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;   /* 混合版本语法: IE 10 */   
}
.flex2{
  display: flex;
  flex-direction: column;
}
.flexvcenter{
  display: flex;
  align-items: center;
}
.flexcenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex1{
  -webkit-flex: 1;        /* Chrome */  
  -ms-flex: 1;         /* IE 10 */  
  flex: 1;                /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-flex: 1;     /* OLD - iOS 6-, Safari 3.1-6 */  
  -moz-box-flex: 1;       /* OLD - Firefox 19- */       
}
.tablebox{
  position: absolute;
  width: 100%;
  height: 100%;
}
.box{
  height: 100%;
  width: 100%;
}
.bb1d{
  border-bottom:1px dashed #ccc;
}
.br{
  border-right: 1px solid #ccc;
}

.hand{
	cursor: pointer;
}

.tab{
  border: 1px solid #aaa;
  width: 100%;
  text-align:center;
}
.tab .w150{
  min-width: 150px;
}
.tab tr{
  border-bottom: 1px solid #aaa;
  display: flex;
}
.tab td{
  min-width: 150px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #aaa;
}
.tab tr td:last-child{
  border-right: 0px;
}
.tab tr:last-child{
  border-bottom: 0px;
}
.tab img{
  max-width: 80px;
  max-height: 80px;
}

.minfoot{
  padding: 10px;
  border-top: 1px solid #ccc;
  text-align: right;
}
.center{
	text-align: center;
}

.noxscroll .el-scrollbar__wrap{
  overflow-x: hidden;
}

.minbut{
  padding: 0px 8px !important;
  height: 24px !important;
}
.mininp{
  padding: 0px !important;
  width: 100px;
}
.title{
  padding-top: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.updown-enter-active, .updown-leave-active {
  transition: transform .3s;
}
.updown-enter, .updown-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateY(-100%);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.from120 .el-form-item__label{
  width: 30% !important;
}
.from120 .el-form-item__content{
	margin-left: 33% !important;
}

::-webkit-scrollbar{
  /*滚动条整体样式*/
  width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 8px;
}
::-webkit-scrollbar-thumb{
  /*滚动条里面小方块样式*/
  border-radius: 5px;
  background:#DFE0E2;
}
.el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar-track{
  /*滚动条里面轨道样式*/
  /*-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);*/
  /*background-color: red;*/
}

.avatardiv {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  width: 178px;
  height: 178px;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
.headimginp{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
.avatar{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}

/*取消input为number时隐藏上下按钮*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}